<ion-view title="Sobre" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/6CsC7IiAT7G1VU5Mqp7n_Rua_1201_01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="sobre-heading1" style="color:#000000;">Corridas</h3>
    <div id="sobre-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Autor
        <strong>Adalberto</strong>
      </p>
    </div>
  </ion-content>
</ion-view>